    #new {
        text-align: right;
    }
    
    .same {
        position: absolute;
    }
    
    #ayatNumber {
        font-size: 10px;
    }
    
    #forone {
        margin-right: 5%;
    }
    
    #circle {
        font-size: 25px;
        color: black;
    }
    
    #panel1 {
        margin: 5%;
        font-size: 50px
    }
    
    #panel4 {
        font-size: 40px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    #panel3 {
        font-size: 30px;
    }
    
    .jumbotron {
        padding: 6rem 0 1rem 0;
        background: whitesmoke;
    }
    
    .jumbotron .filter-row {
        padding: 0 4.3rem 0 0;
    }
    
    .jumbotron .filter-row label,
    .jumbotron .filter-row span {
        font-size: 13px;
        font-weight: 600;
    }
    
    .form-control {
        padding: 0.75rem 0.75rem !important;
    }
    
    .jumbotron .form-control {
        border: none !important;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.95rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    
    .has-search .form-control {
        padding-left: 2.2rem !important;
    }
    
    .form-control:focus {
        border-color: none !important;
        outline: 0;
        box-shadow: none !important;
    }
    
    .search-bar-pd-remove {
        padding: .5rem 0;
    }
    
    .search-bar {
        height: 50px;
        background-color: white;
        border: 0.2px solid #ced4da;
        border-radius: 5px;
    }
    
    .search-bar label {
        font-size: 14px;
        font-weight: 400;
        margin: 0 10px;
        color: #ced4da;
    }
    
    .search-bar span {
        color: #ced4da;
    }
    
    .jumbotron .btn-success {
        font-size: 18px;
        padding: 9px 35px;
        font-weight: 600;
        background-color: #306b20;
    }
    
    .search-radio {
        border-left: .3px solid #ced4da;
        padding-left: 12px;
    }
    
    input[type="radio"]:after {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
    
    input[type="radio"]:checked:after {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #306b20;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
    
    .main-content .container {
        padding: 0 4rem;
    }
    
    .main-content .quran-page-wrapper {
        padding: 15px;
        height: 850px;
        background-color: whitesmoke;
        border: 2px solid #306b20;
        border-radius: 5px;
    }
    
    .main-content .quran-page-wrapper .quran-page {
        background-image: url(../../assets/images/page-back.png);
        background-repeat: no-repeat;
        min-height: 100%;
        background-size: cover;
        position: relative;
    }
    
    .pagination-wrapper {
        position: absolute;
        bottom: 2rem;
    }
    
    .main-content .quran-page-wrapper .quran-page p {
        font-size: 20px;
    }
    
    .main-content .quran-page-wrapper .quran-page .quran-page-title {
        padding: 0 6.5rem 0 8.5rem;
    }
    
    .main-content .quran-page-wrapper .quran-page .quran-page-title span {
        font-size: 12px;
    }
    
    .right-filters {
        background-color: whitesmoke;
        height: 762px;
        overflow-y: scroll;
        padding: 0 10px 10px 10px;
    }
    
    .page-item .page-link {
        border: transparent;
        background-color: transparent;
        padding: .175rem .5rem;
    }
    
    .page-link:hover {
        background: transparent !important;
    }
    
    .page-link:focus {
        color: transparent !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    
    .page-item.active .page-link {
        background-color: black !important;
        border-color: black !important;
        border-radius: 5px !important;
        padding: 6px 10px !important;
        font-size: 13px !important;
    }
    
    .right-filters-wrapper .btn-success {
        font-size: 18px;
        padding: 9px 25px;
        font-weight: 600;
        background-color: #306b20;
    }
    
    .right-filters-wrapper .btn-success span {
        font-size: 14px;
    }
    
    .right-filters .s-filter-wrapper .btn-custom {
        font-size: 14px;
        border: none;
        outline: none;
        background: #306b20;
        color: white;
        padding: 3px 20px;
        border-radius: 5px;
    }
    
    .right-filters .s-filter-wrapper .btn-custom-1 {
        font-size: 14px;
        border: 1px solid black;
        outline: none;
        background: white;
        color: black;
        padding: 3px 2px;
        border-radius: 5px;
        width: 76px;
    }
    
    .right-filters .s-filter-wrapper {
        height: 180px;
        background: white;
        border: 1px solid #ced4da;
        padding: 10px;
        border-radius: 6px;
        margin: 0 0 8px 0;
    }
    
    .right-filters .s-filter-wrapper .filter-wrapper-top-text p {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 0 20px;
    }
    
    .right-filters .s-filter-wrapper .checkbox-wrapper {
        height: 100px;
        overflow-y: scroll;
    }
    
    .right-filters .s-filter-wrapper .checkbox-wrapper label {
        font-size: 14px;
        color: #ff982f;
    }
    
    .right-filters .s-filter-wrapper .form-group {
        display: block;
        margin-bottom: 2px;
    }
    
    .right-filters .s-filter-wrapper .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }
    
    .right-filters .s-filter-wrapper .form-group label {
        position: relative;
        cursor: pointer;
    }
    
    .right-filters .s-filter-wrapper .form-group label:before {
        content: "";
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid black;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 6px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 12px;
    }
    
    .right-filters .s-filter-wrapper .form-group input:checked+label:after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 5px;
        width: 7px;
        height: 16px;
        border: solid #306b20;
        border-width: 0 2px 2px 0;
        transform: rotate(42deg);
    }
    
     ::-webkit-scrollbar {
        width: 7px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #CFCFCF;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: #306b20;
        border-radius: 5px;
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: #1b4611;
    }
    
    footer {
        background: #0B1C10;
        padding: 2rem 10rem 1rem 10rem;
        color: white;
    }
    
    footer a img {
        margin-right: 15px;
    }
    
    footer .footer-downloads {
        background: #ffffff;
        width: 130px;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;
        color: black;
    }
    
    .footer-downloads img {
        width: 20px;
        margin: 7px 4px 0 8px;
    }
    
    footer .footer-grid a {
        text-decoration: none;
    }
    
    .footer-downloads a {
        font-size: 12px;
        text-decoration: none;
        margin: 0;
    }
    
    .footer-downloads span {
        font-size: 14px;
        font-weight: 600;
        margin: 19px 0 0 -58px;
        position: absolute;
    }
    
    footer .footer-downloads p {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        margin: -1px 0 0 35px;
    }
    
    footer .footer-copy-right span {
        font-size: 12px;
    }
    
    footer .form-control {
        padding: 0.6rem 0.75rem !important;
    }
    
    footer .btn-outline-secondary {
        color: white;
        background-color: #306b20;
        border-color: #306b20;
        width: 105px;
        line-height: 2;
    }
    
    footer .btn-outline-secondary:hover {
        background: #306b20;
    }
    
    @media (max-width:768px) {
        .search-radio {
            border-left: .3px solid #ced4da;
            padding-left: 5px;
        }
        .search-bar-pd-remove {
            padding-top: 0.25rem !important;
        }
        .jumbotron .filter-row {
            padding: 1rem 2rem 0 2rem;
        }
        .main-content .container {
            padding: 0 1rem;
        }
        .right-filters-wrapper {
            padding-top: 2rem;
        }
        footer {
            padding: 2rem 1rem 1rem 1rem;
        }
        footer .input-group {
            margin-top: -2rem;
        }
    }
    
    @media (max-width:576px) {
        footer .input-group {
            margin-top: 2rem;
        }
        .search-bar-pd-remove {
            display: none;
        }
        .btn-search-row {
            justify-content: center;
            margin-top: 10px;
        }
        .jumbotron .btn-success {
            margin-top: 10px;
        }
        .main-content .quran-page-wrapper .quran-page .quran-page-title {
            padding: 0 3.5rem 0 4.5rem;
        }
    }
    
    body {
        background-color: #666;
        margin: 100px 50px;
    }
    
    [slider] {
        position: relative;
        height: 14px;
        border-radius: 10px;
        text-align: left;
        margin: 22px 0 0 0;
    }
    
    [slider]>div {
        position: absolute;
        left: 13px;
        right: 15px;
        height: 14px;
    }
    
    [slider]>div>[inverse-left] {
        position: absolute;
        left: 0;
        height: 10px;
        border-radius: 10px;
        background-color: #CCC;
        margin: 0 7px;
    }
    
    [slider]>div>[inverse-right] {
        position: absolute;
        right: 0;
        height: 10px;
        border-radius: 10px;
        background-color: #CCC;
        margin: 0 7px;
    }
    
    [slider]>div>[range] {
        position: absolute;
        left: 0;
        height: 10px;
        border-radius: 14px;
        background-color: #306b20;
    }
    
    [slider]>div>[thumb] {
        position: absolute;
        top: -5px;
        z-index: 2;
        height: 20px;
        width: 20px;
        text-align: left;
        margin-left: -11px;
        cursor: pointer;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
        background-color: #FF982F;
        border-radius: 50%;
        outline: none;
        padding-bottom: 5px;
    }
    
    [slider]>input[type=range] {
        position: absolute;
        pointer-events: none;
        -webkit-appearance: none;
        z-index: 3;
        height: 14px;
        top: -2px;
        width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    
    div[slider]>input[type=range]::-ms-track {
        -webkit-appearance: none;
        background: transparent;
        color: transparent;
    }
    
    div[slider]>input[type=range]::-moz-range-track {
        -moz-appearance: none;
        background: transparent;
        color: transparent;
    }
    
    div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
        background: transparent;
        border: transparent;
    }
    
    div[slider]>input[type=range]:focus {
        outline: none;
    }
    
    div[slider]>input[type=range]::-ms-thumb {
        pointer-events: all;
        width: 28px;
        height: 28px;
        border-radius: 0px;
        border: 0 none;
        background: red;
    }
    
    div[slider]>input[type=range]::-moz-range-thumb {
        pointer-events: all;
        width: 28px;
        height: 28px;
        border-radius: 0px;
        border: 0 none;
        background: red;
    }
    
    div[slider]>input[type=range]::-webkit-slider-thumb {
        pointer-events: all;
        width: 28px;
        height: 28px;
        border-radius: 0px;
        border: 0 none;
        background: red;
        -webkit-appearance: none;
    }
    
    div[slider]>input[type=range]::-ms-fill-lower {
        background: transparent;
        border: 0 none;
    }
    
    div[slider]>input[type=range]::-ms-fill-upper {
        background: transparent;
        border: 0 none;
    }
    
    div[slider]>input[type=range]::-ms-tooltip {
        display: none;
    }
    
    [slider]>div>[sign] {
        opacity: 0;
        position: absolute;
        margin-left: -12px;
        top: -10px;
        z-index: 3;
        background-color: #FF982F;
        color: #fff;
        width: 22px;
        height: 22px;
        border-radius: 28px;
        -webkit-border-radius: 28px;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;
    }
    /* [slider] > div > [sign]:after {
position: absolute;
content: '';
left: 0;
border-radius: 16px;
top: 19px;
border-left: 14px solid transparent;
border-right: 14px solid transparent;
border-top-width: 16px;
border-top-style: solid;
border-top-color: #1ABC9C;
} */
    
    [slider]>div>[sign]>span {
        font-size: 10px;
        font-weight: 700;
        line-height: 0;
    }
    
    [slider]:hover>div>[sign] {
        opacity: 1;
    }
    
    [slider]:hover>div>[sign] {
        opacity: 1;
    }